<div class="row">
  <div class="col-md-8 col-md-offset-2 col-border">
    <section>

  <h2>Register</h2>

  <form id="login" name="users.registerForm" ng-submit="users.register()" novalidate>
    <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.registerForm.$submitted)">{{ users.error }}</div>

   <div class="row">
          <div class="col-md-6">
          <fieldset class="form-group">
          <label>First Name</label>
      <input type="text" class="form-control" id="first-name" placeholder="Required" ng-model="users.user.firstName">
      </fieldset>
    </div>

          <div class="col-md-6">
          <fieldset class="form-group">
          <label>Last Name</label>
       <input type="text" class="form-control" id="last-name" placeholder="Required" ng-model="users.user.lastName">
       </fieldset>
     </div>
     </div>

     <div class="row">
            <div class="col-md-6">
            <fieldset class="form-group">
            <label>Age</label>
        <input type="text" class="form-control" id="age" placeholder="Optional" ng-model="users.user.age">
        </fieldset>
      </div>

            <div class="col-md-6">
            <fieldset class="form-group">
            <label>Location</label>
         <input type="text" class="form-control" id="location" placeholder="Optional" ng-model="users.user.location">
         </fieldset>
       </div>
       </div>

      <div class="row">
        <div class="col-md-12">
        <fieldset class="form-group">
        <label>Profile Picture URL</label>
       <input type="text" class="form-control" id="picture" placeholder="Image URL" ng-model="users.user.picture">
       </fieldset>
     </div>
     </div>

   
    <div class="row">
      <div class="col-md-12">
      <fieldset class="form-group">
      <label>Email Address</label>
     <input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
     </fieldset>
   </div>
   </div>

    <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['email'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['email'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-message="required">Email is required.</span>
    </div>


     <div class="row">
       <div class="col-md-6">
       <fieldset class="form-group">
       <label>Password</label>
     <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="users.user.password" required>
      </fieldset>
    </div>

    <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['password'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['password'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-message="required">Password is required.</span>
    </div>

     <div class="row">
       <div class="col-md-6">
       <fieldset class="form-group">
       <label>Password Confirmation</label>
       <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" placeholder="Password Confirmation" ng-model="users.user.passwordConfirmation" required>
      </fieldset>
    </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>
</div>
</div>
