<br>
<br>
   <div class="col-md-12"> 
  <div ng-controller="JourneysController as journeys">  
  <!-- <ul class="media-list">
    <li class="media" ng-repeat="journey in journeys.all"> -->


    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="journey in journeys.all">
        <div class="thumbnail">
        <a class="journey-show-post-links transition" ui-sref="journey({ id: journey._id })">
        <i class="mg map-{{ journey.country.countryCode.toLowerCase() }} mg-journey" ></i>
        </a>
          <div class="caption">
            <h3>{{ journey.country.name }}</h3>
            <p>{{ journey.users[0].firstName }} {{ journey.users[0].lastName }} added a country</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4">
        <a class="transition" ui-sref="user({ id: journey.users[0]._id })">
           <img ng-src="{{ journey.users[0].picture }}" class="media-object">
        </a>
      </div>
      <div class="col-md-8">
        <a class="journey-show-post-links transition" ui-sref="journey({ id: journey._id })">
        <div class="media-body journey-show-post">
        <h3 class="media-heading">{{ journey.users[0].firstName }} {{ journey.users[0].lastName }} went to {{ journey.country.name }}</h3>
        </div>
        </a>
        </div>
        </div> -->
<!--     </li>
  </ul> -->
  </div>
</div>


