 <h1>What's going on in the world</h1>
  <div ng-controller="JourneysController as journeys">  
  <ul class="media-list">
    <li class="media" ng-repeat="journey in journeys.all">
      <div class="media-left">
        <a ui-sref="user({ id: journey.users[0]._id })">
        <img ng-src="{{ journey.users[0].picture }}" class="media-object">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ journey.users[0].name }} went to {{ journey.country.name }}</h4>
        <p><strong>Description:</strong> {{ journey.description }}</p>
      </div>
    </li>
  </ul>
  </div>



