<h1>Home</h1>
  <!-- <ui-gmap-google-map center='map.center' zoom='map.zoom' id="google-map"></ui-gmap-google-map> -->

  <div ng-app="ngMap">
    <ng-map center="[55.3781, 3.4360]" zoom="2">
      <fusion-tables-layer
     query= "{
       select: 'geometry',
       from: '1N2LBk4JHwWpOY4d9fobIn27lfnZ5MDy-NoqqRpk'}",
     styles="[{
       where: 'ISO_2DIGIT IN ('US', 'GB', 'DE')',
       polygonOptions: {
         fillColor: 'rgb(254, 66, 235)',
         fillOpacity: 0.3
       }
     }]">
   </fusion-tables-layer>
    </ng-map>
  </div> 
