<!DOCTYPE html>
<html ng-app="logging">
<head>
  <title>Hello World</title>
  <script src="./bower_components/angular/angular.js" charset="utf-8"></script>
  <script src="./bower_components/angular-messages/angular-messages.js" charset="utf-8"></script>
  <script src="./bower_components/angular-ui-router/release/angular-ui-router.js" charset="utf-8"></script>
  <script src="./bower_components/angular-jwt/dist/angular-jwt.js" charset="utf-8"></script>
  <script src="./bower_components/angular-resource/angular-resource.js" charset="utf-8"></script>
  <script src="./bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
  <script src="./bower_components/angular-bootstrap/ui-bootstrap.min.js" charset="utf-8"></script>
  <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" charset="utf-8"></script>
  <script src="./bower_components/ng-file-upload/ng-file-upload.min.js"></script>


  <link rel="stylesheet" type="text/css" href="./bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.css">
  <script src="./bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="./bower_components/bower-jvectormap/jquery-jvectormap-world-mill-en.js"></script>


  <script src="//cdn.jsdelivr.net/satellizer/0.13.1/satellizer.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/world.js"></script>
  <script src="./js/models/user.js"></script>
  <script src="./js/models/journey.js"></script>
  <script src="./js/models/country.js"></script>

  <script src="./js/controllers/usersController.js"></script>
  <script src="./js/controllers/journeysController.js"></script>
  <script src="./js/controllers/journeyShowController.js"></script>
  <script src="./js/controllers/countriesController.js"></script>

  <script type="text/javascript" src="js/services/authInterceptor.js"></script>
  <script type="text/javascript" src="js/services/tokenService.js"></script>
  <script type="text/javascript" src="js/services/currentUser.js"></script>

  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">

  <link href="./assets/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="./assets/map_glyphs/mapglyphs.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Ribeye+Marrow' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body ng-controller="UsersController as users">

<header>
  <nav class="navbar navbar-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand transition" id="title-header" href="#" ui-sref-active="active" ui-sref="home">Hello World
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="users.checkLoggedIn()">
          <a class="top-header-nav">Welcome, {{ users.currentUser.firstName }}</a>
        </li>
        <li ng-show="users.checkLoggedIn()">
          <a href="#" class="top-header-nav transition" ui-sref="journeys">Feed</a>
        </li> 
        <li ng-show="users.checkLoggedIn()">
          <a href="#" class="top-header-nav transition" ui-sref="user({ id: users.currentUser._id })">Profile</a>
        </li>
        <li ng-show="users.checkLoggedIn()">
          <a href="#" class="top-header-nav transition" ui-sref="countries">Map</a>
        </li>
        <li ng-hide="users.checkLoggedIn()">
          <a class="top-header-nav transition" ng-click="users.authenticate('facebook')">Sign in with Facebook</a>
        </li>
        <li ng-hide="users.checkLoggedIn()">
          <a class="top-header-nav transition" href="#" ui-sref="login">Login</a>
        </li>
        <li ng-hide="users.checkLoggedIn()">
          <a class="top-header-nav transition" href="#" ui-sref="register">Register</a>
        </li>
        <li ng-show="users.checkLoggedIn()">
          <a class="top-header-nav transition" href="#"ui-sref="home" ng-click="users.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
 
  <main id="main" class="fade-in one" ui-view></main>

  <div class="spacer"></div>
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container footer-nav-links">
        <a ng-show="users.checkLoggedIn()" class="top-header-nav transition" ui-sref="journeys">
          <i class="fa fa-home fa-3x"></i>
        </a>

        <a ng-show="users.checkLoggedIn()" class="top-header-nav transition" ui-sref="user({ id: users.currentUser._id })">
          <i class="fa fa-user fa-3x"></i>
        </a>

        <a ng-show="users.checkLoggedIn()" class="top-header-nav transition" ui-sref="countries">
          <i class="fa fa-globe fa-3x"></i>
        </a>

        <a ng-hide="users.checkLoggedIn()" class="top-header-nav transition" ng-click="users.authenticate('facebook')">
          <i class="fa fa-facebook-square fa-3x"></i>
        </a>
        <a ng-hide="users.checkLoggedIn()" class="top-header-nav transition" ui-sref="login">
        <i class="fa fa-sign-in fa-3x"></i>
        </a>
        <a ng-hide="users.checkLoggedIn()" class="top-header-nav transition" ui-sref="register">
        <i class="fa fa-user-plus fa-3x"></i>
        </a>
        <a ng-show="users.checkLoggedIn()" class="top-header-nav transition" ui-sref="home" ng-click="users.logout()">
        <i class="fa fa-sign-out fa-3x"></i>
        </a>
      </div>
    </nav>
  </footer>

</body>
</html>
