/***************** GENERAL CSS SETTINGS ********************/
body {
  background-color: #f5f5f5;
  margin: 0 auto;
  color: #424242;
}

#main {
  margin-bottom: 50px;
}

a {
  cursor: pointer;
}

ul, li {
  list-style-type: none;
}

/*section {
  margin-bottom: 50px;
}*/

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #3498db;
}

.btn {
  background-color: #3498db;
  color: #f5f5f5;
}

.btn:hover {
  color: #f5f5f5;
  font-weight: 700;
}

/*.col-border {
  border-left: 3px solid #3498db;
  border-right: 3px solid #3498db;
}*/


/***************** DESKTOP NAVIGATION ********************/

.navbar-top {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    border-radius: 0%;
    height: 60px;
    border-bottom: 3px solid #3498db;
    margin-bottom: 0;
}

.top-header-nav {
  font-family: 'Montserrat', sans-serif;
  color: #3498db;
}

.top-header-nav:hover {
  font-weight: 700;
  color: #3498db;
  background-color: #f5f5f5;
}

.navbar-default {
    background-color: #3498db;
    border-color: #2980b9;
    border-radius: 0%;
    height: 60px;
}

.navbar-top .navbar-brand {
    color: #3498db;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand:hover {
  color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a {
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  font-weight: 700;
  color: #f5f5f5;
}

.navbar-fixed-bottom {
 display: none;
}

#title-header {
  font-size: 3em;
}


/***************** HOME PAGE ********************/


#world {
  height: 500px;
  display: block;
  width: auto;
  margin: 0 auto;
}

.front-page-header {
  color: #27ae60;
}

/***************** JOURNEY INDEX PAGE ********************/

.media-object {
  max-width: 100px;
  border-radius: 100%;
}

/***************** JOURNEY SHOW PAGE ********************/

.journey-show-post-links {
  color: #424242;
  } 

  .journey-show-post-links:hover {
    color: #424242;
    font-weight: 700;
    text-decoration: none;
    } 

.journey-show-post {
  border-bottom: 3px solid #3498db;
  }



div.image-square-wrapper {
  max-width: 400px;
  max-height: 400px;
}

img.journey-photo-stream {
  max-height: 100%;
  max-width: 100%;
  border: 3px solid #616161;
}

/***************** COUNTRIES INDEX PAGE ********************/

#world-map {
  width: 100%;
  height: 500px
}


/***************** USERS SHOW PAGE ********************/

.mg {
  font-size: 10em;
  color: #616161;
}

.mg:hover {
  color: #3498db;
}

.mg-journey {
  font-size: 20em;
}

.user-countries {
  text-align: center;
}

.center-text {
  text-align: center;
}

.stamp-header {
  border-bottom: 3px solid #3498db;
  padding-bottom: 5px;
  padding-top: 20px;
}

.user-profile-text {
  text-align: center;
}

.user-journey-nav {
  width: 100%;
  margin-top: 10px;
}

#profile-picture {
  max-width: 300px;
  border-radius: 100%;
}

#profile-picture:hover {
  opacity: 0.4;
}


/***************** MOBILE ********************/

@media only screen and (max-width: 991px) {

  .footer-nav-links a {
    padding-left: 60px;
  }

}

@media only screen and (max-width: 767px) {

    .navbar-top {
       display: none;
    }

    .navbar-fixed-bottom {
      display: block;
      margin-top: 30px;
    }

    .top-header-nav {
      font-family: 'Montserrat', sans-serif;
      color: #f5f5f5;
    }

    .top-header-nav:hover {
      font-weight: 700;
      color: #f5f5f5;
      background: #3498db;
    }

    .footer-nav-links a {
      padding-left: 40px;
    }
}



.col-md-8.col-md-offset-2.col-border .row {
  width: 100% !important;
}

.col-md-8.col-md-offset-2.col-border .container {
  width: 100% !important;
}

img.profile-picture {
  max-width: 100%;
}



/********************* ANIMATIONS ************************/


@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

.spin{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 30s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
