
/***************** GENERAL CSS SETTINGS ********************/
body {
  background-color: #f5f5f5;
  margin: 0 auto;
  color: #424242;
}

#main {
  margin-bottom: 50px;
}

a {
  cursor: pointer;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*section {
  margin-bottom: 50px;
}*/

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #3498db;
}

.btn {
  background-color: #3498db;
  color: #f5f5f5;
}

.btn:hover {
  color: #f5f5f5;
  font-weight: 700;
}

/*.col-border {
  border-left: 3px solid #3498db;
  border-right: 3px solid #3498db;
}*/


/***************** DESKTOP NAVIGATION ********************/

.navbar-top {
    background-color: #3498db;
    border-color: #f5f5f5;
    border-radius: 0%;
    height: 100px;
    border-bottom: 3px solid #3498db;
    margin-bottom: 0;
}

.top-header-nav {
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
}

.top-header-nav:hover {
  font-weight: 700;
  color: #3498db;
}

.navbar-default {
    background-color: #3498db;
    border-color: #2980b9;
    border-radius: 0%;
    height: 60px;
}

.navbar-top .navbar-brand {
    color: #3498db;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand:hover {
  color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a {
    color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a:hover {
  font-weight: 700;
  color: #f5f5f5;
}

.navbar-fixed-bottom {
 display: none;
}

.navbar-nav > li > a {
  padding-top: 35px;
  font-family: 'Montserrat', sans-serif;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #3498db;
  color: #f5f5f5;
  font-size: 15px;
}

#title-header {
  margin-top: 20px;
  font-size: 5em;
  color: #f5f5f5;
  font-family: 'Ribeye Marrow', cursive;
}


/***************** HOME PAGE ********************/

#world {
  height: 600px;
  display: block;
  width: auto;
  margin: 0 auto;
}

.front-page-header-top {
  color: #3498db;
  text-align: center;
}

.front-page-header {
  text-align: center;
  color: #3498db;
}

/***************** JOURNEY INDEX PAGE ********************/

.media-object {
  max-width: 100px;
  display: inline-block;
  border-radius: 100%;
}

.journey-row {
  border-bottom: 3px solid #3498db;
  padding-bottom: 10px;
  padding-top: 5px;
}

/***************** JOURNEY SHOW PAGE ********************/

.journey-show-post-links {
  color: #424242;
  } 

  .journey-show-post-links:hover {
    color: #424242;
    font-weight: 700;
    text-decoration: none;
    } 

/*.journey-show-post {
  border-bottom: 3px solid #3498db;
  }*/

div.image-square-wrapper {
  max-width: 400px;
  max-height: 400px;
}

img.journey-photo-stream {
  max-height: 100%;
  max-width: 100%;
  border: 3px solid #616161;
}

/***************** COUNTRIES INDEX PAGE ********************/

#world-map {
  width: 100%;
  height: 500px;
  position: relative;

}

.map-icon {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #3498db;
  font-size: 5em;
  position: absolute; 
     top: 450px; 
     left: 10px; 
     width: 100%; 
}


/***************** USERS SHOW PAGE ********************/

.mg {
  font-size: 10em;
  color: #616161;
}

.mg:hover {
  color: #3498db;
}

.mg-journey {
  font-size: 20em;
}

.user-countries {
  text-align: center;
}

.center-text {
  text-align: center;
}

.stamp-header {
  border-bottom: 3px solid #3498db;
  padding-bottom: 5px;
  padding-top: 20px;
}

.user-profile-text {
  text-align: center;
}

.user-journey-nav {
  width: 100%;
  margin-top: 10px;
}

#profile-picture {
  max-width: 300px;
  border-radius: 100%;
  position: relative;
}

#profile-picture:hover {
  opacity: 0.4;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.edit-hover a p {
  display:none;
}

.edit-hover a:hover p {
  display:block;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  font-size: 2em;
  position: absolute; 
     top: 120px; 
     left: 0; 
     width: 100%; 
}


/***************** MOBILE ********************/

@media only screen and (max-width: 991px) {

  .footer-nav-links {
    text-align: center;
  }

  .footer-nav-links a {
    padding: 0px 10px;
  }

  .journey-wrapper {
    padding: 30px;
  }

  #world {
    height: 350px;
  }

  .front-page-header-top,
  .front-page-header {
    display: none;
    }

}

@media only screen and (max-width: 767px) {

    .navbar-top {
       display: none;
    }

    .navbar-fixed-bottom {
      display: block;
      padding-top: 10px;
    }

    .top-header-nav {
      font-family: 'Montserrat', sans-serif;
      color: #f5f5f5;
    }

    .top-header-nav:hover {
      font-weight: 700;
      color: #f5f5f5;
    }

    .footer-nav-links a {
      padding-left: 40px;
    }

    .spacer {
      padding-top: 30px;
      margin-top: 30px;
    }

    #world {
      height: 250px;
    }

    .front-page-header-top,
    .front-page-header {
      display: none;
      }

}



.col-md-8.col-md-offset-2.col-border .row {
  width: 100% !important;
}

.col-md-8.col-md-offset-2.col-border .container {
  width: 100% !important;
}

img.profile-picture {
  max-width: 100%;
}



/********************* ANIMATIONS ************************/


@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

.spin{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 60s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
}
