<div ng-controller="JourneysController as journeys">  
  <div class="media" ng-repeat="journey in journeys.all">

<ul class="media-list">
  <li class="media" ng-repeat="user in users.all">
    <div class="media-left">
      <a ui-sref="user({ id: user._id })">
        <img class="media-object" ng-src="{{ user.picture }}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ user.name }} went to {{ journey.country.name }}</h4>

       
            </li>
          </ul>
        </div>
    </div>


