<section>
  <div class="container">
    <div class="row" id="page-wrap">
      <div class="col-md-8">
        <div class="main-section">
          <div class="media">
            <span class="media-left">
            <img ng-src="{{ users.user.picture }}" id="profile-picture">
           </span>
           <div class="media-body">
            <h2 class="media-heading">{{ users.user.name | uppercase }}</h2>
            <p><strong>Email:</strong> {{ users.user.email }}</p>
            <h3>Edit User</h3>
            <form id="edit-user" ng-submit="users.updateUser()">
              <input type="text" name='edit-name' id="edit-name" ng-model="users.user.name">
              <input type="submit" value='Update' id="submit">
            </form>

            <h3>Add a journey</h3>
            <div ng-controller="JourneysController as journeys">  
            <form id="edit-user" ng-submit="journeys.updateJourney()">
              <input type="text" name='name' id="journey-name" ng-model="journeys.journey.name" placeholder="Where did you go?">
              <input type="text" name='description' id="journey-description" ng-model="journeys.journey.description" placeholder="Description">
              <input type="date" name='start' id="journey-description" ng-model="journeys.journey.start" placeholder="Start of trip">
              <input type="date" name='end' id="journey-description" ng-model="journeys.journey.end" placeholder="End of trip">
              <input type="submit" value='Add Journey' id="submit">
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Countries visited:</h1>
 <div class="media" ng-repeat="country in users.user.countries">
    <div class="media-body">
   <h4 class="media-heading">{{ country.name }}</h4>
    </div>
  </div>
</section>
