<br>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-border">
   <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 user-profile-text">
          <a class="profile-picture-link" ui-sref="usersEdit({ id: users.user._id })"><img ng-src="{{ users.user.picture }}" id="profile-picture"></a>
        </div>
        <div class="col-md-4 user-profile-text">
          <h1 class="media-heading">{{ users.user.firstName }} {{ users.user.lastName }} </h1>
         <!--  <p><span ng-if="{{users.user.age == true}}">{{ users.user.age }}</span> -->
          <p><h3>{{ users.user.age }}</h3>
          <!-- <span ng-if="{{!users.user.age}}">Please enter an age!</span></p> -->
          <p><h3>{{ users.user.nationality }}</h3></p>
 <!--          <p><strong>How many journeys have you been on?</strong> {{ users.user.journeys.length }}</p>
          <p><strong>How many countries have you visited?</strong> {{ users.user.countries.length }}</p> -->
          <!-- <button class="btn" ui-sref="usersEdit({ id: users.user._id })">Edit Profile</button>  -->
          <button class="btn user-journey-nav" ui-sref="journeysNew">Add New Journey</button> 
          <button class="btn user-journey-nav" ui-sref="journeysNew">View Journeys</button> 
      </div>
    </div>
  </div>
  <h1 class="center-text stamp-header">Stamp Book: {{ users.user.countries.length }}</h1>
  <div class="col-md-4 col-xs-6 user-countries" ng-repeat="country in users.user.countries">
   <i class="mg map-{{ country.countryCode.toLowerCase() }}" ></i><br>
   <h3>{{ country.name }}</h3></div>
 </div>


</section>

</div>
</div>
